input[type="text"] {
    background: none;
    border: none;
    border-bottom: 2px solid var(--highlight-text-color);
    color: var(--highlight-text-color);
    padding: 0 5px;
    transition: 0.25s;
}

input[type="text"]:focus {
    border-color: var(--highlight-background-color);
    transition: 0.25s;
}

::placeholder {
    color: var(--highlight-text-color);
    filter: opacity(0.6);
    font-style: italic;
}

button {
    transition: 0.25s;
}

button:hover {
    cursor: pointer;
}

#editorHeader {
    padding: 10px 2vw;
    background-color: var(--highlight-content-color);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#editorTitle {
    font-size: 18pt;
    flex: 1 1 0;
    border-color: transparent;
    transition: 0.25s;
    min-width: 0;
    padding: 0;
}

#editorTitle:hover {
    border-color: var(--highlight-text-color);
    transition: 0.25s;
}

#editorTitle:focus {
    border-color: transparent;
}

#editorHeader button {
    padding: 0.5vw 1vw;
    font-size: 14pt;
    color: white;
    border: none;
    flex: 0 0 auto;
    margin-left: 1vw;
}

#editorHeader button:hover {
    filter: brightness(1.25);
}

#editorHeader button:active {
    filter: none;
}

button#save {
    background-color: cornflowerblue;
}

button#publish {
    background-color: orange;
}

div#canvasDiv {
    width: 80%;
    height: calc((100vw - 2 * var(--article-padding)) * 0.8 * 9 / 16);
}   

#tabBar {
    height: calc(14pt + 20px + 5px);
}

#tabBar input[type="radio"] {
    display: none;
}

#tabBar label {
    display: inline-block;
    background-color: var(--highlight-content-color);
    color: var(--highlight-text-color);
    font-size: 14pt;
    padding: 10px 1vw;
    margin-right: 3px;
    transition: 0.25s;
    line-height: 1;
}

#tabBar label:hover {
    cursor: pointer;
}

#tabBar input:checked + label {
    background-color: var(--highlight-background-color);
    padding-bottom: 17px;
}

.tabContent {
    display: none;
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
    padding: 2vw;
    font-size: 12pt;
}

.tabContent.selected {
    display: block;
}