@font-face {
	font-family: Oeztype;
	src: url(../fonts/oeztype.ttf);
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 2px solid var(--highlight-text-color);
    color: var(--highlight-text-color);
    padding: 0 5px;
    transition: 0.25s;
}

input[type="text"]:focus {
    border-color: var(--highlight-background-color);
    transition: 0.25s;
}

::placeholder {
    color: var(--highlight-text-color);
    filter: opacity(0.6);
    font-style: italic;
}

button {
    transition: 0.25s;
}

button:hover {
    cursor: pointer;
}

#editorHeader {
    padding: 10px 2vw;
    background-color: var(--highlight-content-color);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#editorTitle {
    font-size: 18pt;
    flex: 1 1 0;
    border-color: transparent;
    transition: 0.25s;
    min-width: 0;
    padding: 0;
}

#editorTitle:hover {
    border-color: var(--highlight-text-color);
    transition: 0.25s;
}

#editorTitle:focus {
    border-color: transparent;
}

#editorHeader button {
    padding: 0.5vw 1vw;
    font-size: 14pt;
    color: white;
    border: none;
    flex: 0 0 auto;
    margin-left: 1vw;
}

#editorHeader button:hover {
    filter: brightness(1.25);
}

#editorHeader button:active {
    filter: none;
}

button#save {
    background-color: cornflowerblue;
}

button#publish {
    background-color: orange;
}

div#canvasDiv {
    width: 70%;
    height: calc((100vw - 2 * var(--article-padding)) * 0.7 * 9 / 16);
}

#tabBar {
    height: calc(14pt + 20px + 5px);
}

#tabBar input[type="radio"] {
    display: none;
}

#tabBar label {
    display: inline-block;
    background-color: var(--highlight-content-color);
    color: var(--highlight-text-color);
    font-size: 14pt;
    padding: 10px 1vw;
    margin-right: 3px;
    transition: 0.25s;
    line-height: 1;
}

#tabBar label:hover {
    cursor: pointer;
}

#tabBar input:checked + label {
    background-color: var(--highlight-background-color);
    padding-bottom: 17px;
}

.tabContent {
    display: none;
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
    padding: 2vw;
    font-size: 14pt;
}

.tabContent.selected {
    display: block;
}

section {
    margin-bottom: 20px;
}

div.group {
    margin-bottom: 10px;
}

select {
    background-color: var(--highlight-content-color);
    border: none;
    font-size: 10pt;
    color: var(--highlight-text-color);
    padding: 2px 4px;
}

.tabContent button {
    background-color: var(--highlight-content-color);
    border: none;
}

input#backgroundMusic {
    display: none;
}

label[for="backgroundMusic"], button#removeBackgroundMusic {
    display: inline-block;
    background-color: var(--highlight-content-color);
    color: var(--highlight-text-color);
    font-size: 12pt;
    padding: 4px 6px;
    vertical-align: middle;
}

label[for="backgroundMusic"]:hover, button#removeBackgroundMusic:hover {
    cursor: pointer;
}

.tabContent span {
    font-size: 10pt;
}

input[type="color"] {
    height: 15px;
    width: 15px;
    visibility: hidden;
}

label[for$="Color"] {
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
    font-size: 0;
    border: 1px solid var(--highlight-text-color);
    background-image: url("../images/editor/edit.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0 0;
}

label[for$="Color"].inverted {
    background-image: url("../images/editor/editInverted.png");
}

label[for$="Color"]:hover {
    cursor: pointer;
}

div:hover > label[for$="Color"] {
    background-size: 75% 75%;
}