form {
    text-align: center;
    width: 75%;
    margin: auto;
}

form a {
    font-size: 12pt;
}

form div.inputGroup {
    margin: auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form label {
    font-size: 14pt;
    color: var(--text-color);
    flex: 0 0 0;
    vertical-align: middle;
}

form input[type="text"], form input[type="password"] {
    padding: 0 1vw;
    font-size: 14pt;
    margin-left: 1vw;
    border: none;
    border-bottom: 2px solid var(--text-color);
    transition: 0.25s;
    width: 0;
    flex: 1 1 0;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border-color: var(--highlight-background-color);
}

form input[type="submit"] {
    border: none;
    background-color: var(--highlight-content-color);
    font-size: 14pt;
    padding: 1vh 2vw;
    color: white;
    margin: auto;
    margin-top: 4vh;
    display: block;
}

form input[type="submit"]:hover {
    background-color: var(--highlight-background-color);
    transition: 0.25s;
    cursor: pointer;
}

form input[type="submit"]:active {
    background-color: var(--highlight-content-color);
    transition: 0.25s;
}