nav a, header a {
    text-decoration: none;
}

span.spaceFiller {
    flex: 1 1 0;
}

nav {
    background-color: var(--highlight-content-color);
    padding: 0 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
}

nav a.navLink {
    color: var(--highlight-text-color);
    font-size: 2vh;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    flex: 0 0 auto;
}

nav span.navSpan {
    color: var(--highlight-text-color);
    font-size: 2vh;
    padding: 1.5vh 1.5vw;
    flex: 0 0 auto;
}

nav a.navLink:hover {
    background-color: var(--highlight-background-color);
    transition: 0.25s;
}

header {
    background-color: var(--highlight-background-color);
    padding: 0 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    flex: 0 0 auto;
}

header a.homeLink {
    padding: 0.5vh 2vw;
    display: inline-block;
    text-transform: uppercase;
    font-size: 5vh;
    color: var(--highlight-content-color);
    flex: 0 0 0;
    font-weight: bold;
    vertical-align: middle;
}

header a.homeLink span.small {
    font-size: 3vh;
    margin-right: 0.5vw;
}

header a.headerLink {
    color: var(--highlight-text-color);
    font-size: 3.5vh;
    padding: 2.5vh 1.5vw;
    cursor: pointer;
    flex: 0 0 auto;
}

header a.headerLink:hover {
    background-color: var(--highlight-content-color);
    transition: 0.25s;
}