nav a, header a {
    text-decoration: none;
}

span.spaceFiller {
    flex: 1 1 0;
}

nav {
    background-color: var(--highlight-content-color);
    padding: 0 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
}

nav a.navLink {
    color: var(--highlight-text-color);
    font-size: 12pt;
    padding: 1vh 1.5vw;
    cursor: pointer;
    flex: 0 0 auto;
}

nav span.navSpan {
    color: var(--highlight-text-color);
    font-size: 12pt;
    padding: 1vh 1.5vw;
    flex: 0 0 auto;
}

nav a.navLink:hover {
    background-color: var(--highlight-background-color);
    transition: 0.25s;
}

header {
    background-color: var(--highlight-background-color);
    padding: 0 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    flex: 0 0 auto;
}

a#homeLink {
    padding: 0 2vw;
    display: inline-block;
    flex: 0 0 0;
    cursor: pointer;
    position: relative;
}

#logo {
    position: absolute;
    top: 45%;
    margin-top: -15pt;
    height: 30pt;
    vertical-align: middle;
    display: inline-block
}

#logo:before {
    content: '';
    display: inline;
    vertical-align: middle;
    height: 100%;
}

header a.headerLink {
    color: var(--highlight-text-color);
    font-size: 18pt;
    padding: 2vh 1vw;
    flex: 0 0 auto;
}

header a.headerLink:hover {
    cursor: pointer;
    background-color: var(--highlight-content-color);
    transition: 0.25s;
}