div.highlightBox {
    background-color: var(--highlight-background-color);
    padding: 5vh 5vw;
    text-align: center;
}

div.highlightBox p {
    font-size: 18pt;
    color: var(--highlight-text-color);
    margin-bottom: 5vh;
}

div.highlightBox a {
    margin: auto;
    text-align: center;
    font-size: 24pt;
    color: var(--highlight-text-color);
    background-color: var(--highlight-content-color);
    padding: 1vh 2vw;
    text-decoration: none;
}