div#canvasDiv {
    display: block;
    height: 80vh;
    width: calc(80vh * 16 / 9);
    margin: 5vh auto;
    position: relative;
}

div#canvasDiv canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div#canvasDiv:fullscreen canvas {
    top: 0;
    left: calc(50% - (100vh * 16 / 9) / 2);
    height: 100%;
    width: calc(100vh * 16 / 9);
}

@media (max-aspect-ratio: 16/9) {
    div#canvasDiv {
        width: 80%;
        height: calc(80vw * 9 / 16);
    }

    div#canvasDiv:fullscreen canvas {
        left: 0;
        top: calc(50% - (100vw * 9 / 16) / 2);
        width: 100%;
        height: calc(100vw * 9 / 16);
    }
}

button#restart {
    display: none;
    animation-duration: 2s;
    color: #664321;
    border: 5px #664321 solid;
    border-radius: 2vh;
    background-color: #a6703c;
    font-size: 6vh;
    padding: 2vh;
    position: absolute;
    margin: auto;
    outline: none;
}