<link rel="stylesheet" type="text/css" href="stylesheets/header.css">

<nav>
    {% if session['username'] %}
        <span class="navSpan">Logged in as {{ session['username'] }}!</span>
        <span class="spaceFiller"></span>
        <a class="navLink">Profile</a>  
        <a class="navLink" href="{{ url_for('logout') }}">Log out</a>
    {% else %}
        <span class="navSpan">You're not logged in!</span>
        <span class="spaceFiller"></span>
        <a class="navLink" href="{{ url_for('login') }}">Login</a>
        <a class="navLink" href="{{ url_for('register') }}">Create an Account</a>
    {% endif %}
</nav>

<header>
    <a class="homeLink" href="{{ url_for('index') }}">
        C<span class="small">ustom</span>TD  
    </a>
    <span class="spaceFiller"></span>
    <a class="headerLink">Create</a>
    <a class="headerLink">Explore</a>
    <a class="headerLink">Search</a>
</header>