<!DOCTYPE html>

<html>
    <head>
        <title>CustomTD - Editor</title>
        
        {% include "snippets/head.html" %}
        <link rel="stylesheet" type="text/css" href="stylesheets/editor.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/play.css">
    </head>
    
    <body>
        {% include "snippets/header.html" %}
        <article>
            <h1>Game Editor</h1>

            <div id="editorHeader">
                <input type="text" id="editorTitle" name="title" placeholder="Untitled Game">
                <button id="save">Save</button>
                <button id="publish">Publish</button>
            </div>

            <div id="canvasDiv">
                <canvas id="backgroundCanvas" width="640" height="360"></canvas>
                <canvas id="enemyCanvas" width="640" height="360"></canvas>
                <canvas id="attackCanvas" width="640" height="360"></canvas>
                <canvas id="towerCanvas" width="640" height="360"></canvas>
                <canvas id="panelCanvas" width="640" height="360"></canvas>
                <canvas id="labelCanvas" width="640" height="360"></canvas>
                <canvas id="dragCanvas" width="640" height="360"></canvas>
                <canvas id="splashCanvas" width="640" height="360"></canvas>
            </div>

            <div id="tabBar">
                <input type="radio" class="tab" name="tab" value="general" id="generalTab" checked><label for="generalTab">General</label>
                <input type="radio" class="tab" name="tab" value="map" id="mapTab"><label for="mapTab">Map</label>
                <input type="radio" class="tab" name="tab" value="attack" id="attackTab"><label for="attackTab">Attacks</label>
                <input type="radio" class="tab" name="tab" value="tower" id="towerTab"><label for="towerTab">Towers</label>
                <input type="radio" class="tab" name="tab" value="enemy" id="enemyTab"><label for="enemyTab">Enemies</label>
                <input type="radio" class="tab" name="tab" value="round" id="roundTab"><label for="roundTab">Rounds</label>
            </div>

            <div id="tabContent">

            </div>
        </article>
        {% include "snippets/footer.html" %}

        {% for filename in scripts %}
            {% if filename %}
                <script type="text/javascript" src="{{ filename }}"></script>
            {% endif %}
        {% endfor %}
    </body>
</html>