<!DOCTYPE html>

<html>
	<head>
		<title>Tower Defense Project</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

		{% include "snippets/favicons.html" %}
	</head>
	
	<body>
		<canvas id="mainCanvas" width="640" height="360">
			Your browser does not support HTML5 Canvas.
		</canvas>

		<h3>Peashooter</h3>
		<p>Repeater shoots peas twice as fast</p>
		<p>Threepeater shoots 3 bullet peas with greater pierce and speed</p>

		<h3>Starfruit</h3>
		<p>Shooting Star shoots stars slightly more quickly and farther</p>
		<p>Superstar shoots 10 stars instead of 5</p>

		<h3>Iceshroom</h3>
		<p>Deep Freeze leaves bloons slowed after thawing</p>
		<p>Sends out 6 ice shards that damage and freeze for 3 seconds</p>

		<h3>Cattail</h3>
		<p>Sharpshooter gives spikes one more pierce</p>
		<p>Mechameow lets it shoot rapidly</p>

		<h3>Cabbage-pult</h3>
		<p>Leaf Tornado sends out leaves that very temporarily slows bloons</p>
		<p>Melon-pult makes the cabbage for some reason shoot melons that take off 2 layers</p>
		
		<!--<u><h2 style="margin-top: 1vh;">Send Some Enemies!</h2></u>
		<div style="margin-top: 1vh;">
			<button class="enemy" onclick="currentState.addEnemy(new Enemy(currentState, RED))" style="background-color: red;"></button>
			<button class="enemy" onclick="currentState.addEnemy(new Enemy(currentState, BLUE))" style="background-color: skyblue;"></button>
			<button class="enemy" onclick="currentState.addEnemy(new Enemy(currentState, GREEN))" style="background-color: limegreen;"></button>
			<button class="enemy" onclick="currentState.addEnemy(new Enemy(currentState, YELLOW))" style="background-color: yellow;"></button>
			<button class="enemy" onclick="currentState.addEnemy(new Enemy(currentState, PINK))" style="background-color: pink;"></button>
		</div>-->
		
	</body>
	
	{% for filename in scripts %}
		{% if filename %}
			<script type="text/javascript" src="{{ filename }}"></script>
		{% endif %}
	{% endfor %}
</html>