<!DOCTYPE html>

<html>
    <head>
        <title>CustomTD - Home</title>
        
        {% include "snippets/head.html" %}
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    </head>
    
    <body>
        {% include "snippets/header.html" %}

        <article>
            <div class="highlightBox">
                <p>Welcome! This project is currently a WIP, and you can't do much stuff yet. You can check out a test game by pressing Play and try editing the test by cliking Create!</p>

                <a href="{{ url_for('play') }}">Play!</a>
            </div>
        </article>

        {% include "snippets/footer.html" %}
    </body>
</html>
